*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.main {
  padding: 10px;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase + .showcase {
  margin-top: 100px;
}

/*=== Banner ===*/

.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  padding: 16px 24px;
}

.banner.banner__primary {
  max-width: 670px;
  min-height: 80px;
  font-family: 'Open Sans', sans-serif;
}

.banner.banner__secondary {
  max-width: 640px;
  min-height: 80px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 620px) {
  .banner.banner__secondary {
    border-radius: 8px;
  }
}

.banner__text {
  flex: 1;
  margin: 0;
  flex-basis: 370px;
  margin-right: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.banner__secondary .banner__text {
  color: #101010;
}

@media (max-width: 620px) {
  .banner__secondary .banner__text {
    text-align: center;
  }
}

.banner__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  flex-basis: 160px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 32px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #FF7E4A;
  color: #FFFFFF;
  border-radius: 22px;
  box-shadow: 0px 6px 10px rgba(16, 17, 19, 0.1);
}

@media (max-width: 620px) {
  .banner__button {
    padding: 10px 32px;
    margin-top: 16px;
    font-size: 14px;
  }
}

.banner__secondary .banner__button {
  background: #F7B100;
  border-radius: 8px;
  box-shadow: none;
}

.banner__old-price {
  text-decoration: line-through;
}

.banner__new-price {
  color: #FF7E4A;
  font-weight: bold;
}

.banner__secondary .banner__new-price {
  color: #F7B100;
}

/*=== End Banner ===*/